
figure {
    
    box-sizing: border-box;
    border: 15px solid #754ef9;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute; /*difente de static*/
    left: 41%;
    top: 47%;
    transform: translateX(-50%) translateY(-50%);
    
    
}

.perfil {
    border: 15px solid #754ef9;
    border-radius: 50%;
    background-color:#fff;
    width: 514px;
    height: 514px;
    position: relative;
    text-align: center;
}

img {

    width: 352px;
    height: 352px;
    position: absolute; /*left, right, bottom, top */
    left: -10px;
    top: -10px;

}
